name: Cleanup test environments

on:
  pull_request:
    types: [ closed ]

jobs:
  cleanup:
    runs-on: ubuntu-latest
    container: quay.io/hypernode/deploy:3-php8.3-node18
    steps:
      - uses: actions/checkout@v3
      - name: Cleanup test environments
        run: hypernode-deploy cleanup test -vvv
        env:
          HYPERNODE_API_TOKEN: ${{ secrets.HYPERNODE_API_TOKEN }}
