name: Deploy to staging

on:
  push:
    branches:
      - 'staging'

jobs:
  build:
    uses: ./.github/workflows/build.yaml
    secrets: inherit

  deploy_staging:
    name: Deploy to staging
    needs: build
    runs-on: ubuntu-latest
    concurrency: staging
    environment:
      name: production
      url: https://staging.magento2.komkommer.store
    container: hipex/deploy:v2.13.0-alpha.3-php8.1-node18
    steps:
      - uses: actions/checkout@v3
      - name: download build artifact
        uses: actions/download-artifact@v3
        with:
          name: deployment-build
          path: build/
      - uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - run: mkdir -p $HOME/.ssh
      - run: hipex-deploy deploy staging -vvv
